# .clang-format
BasedOnStyle: LLVM

# Indentation
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
TabWidth: 2

# Braces
BreakBeforeBraces: Attach

# Miscellaneous formatting
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Control statements
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

IndentPPDirectives: BeforeHash
IndentAccessModifiers: false

# Includes
IncludeBlocks: Preserve
SortIncludes: true

# Language
Language: Cpp
Standard: c++20